.accounts-comp {
	display: flex;
	flex-direction: column;
	height: 85vh;
	width: 35vw;
	padding-left: 20px;

	span {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 8px;
		button {
			color: blue;
			font-size: 14px;
			font-weight: 600;
			margin-left: 12px;
			&:hover { 
				transform: scale(1.1);
			}
		}
	}
	
	.header{
		display: flex;
		flex-direction: row;
		align-items: space-between;
		font-size: 26px;
		font-weight: 700;
		width: 100%;
		padding: 20px 0px 8px 0px; 
		h1 {
			display: flex;
			font-size: 26px;
			font-weight: 700;
			padding: 20px 0px 8px 0px; 
		}
		h2 {
			display: flex;
			margin-left: 75px;
			color: green;
			font-size: 26px;
			font-weight: 700;
			padding: 20px 0px 8px 0px; 
		}
	}
	// h2 {
	// 	font-size: 20px;
	// 	font-weight: 700;
	// 	padding: 16px 16px 16px 16px; 
	// }
}

.account {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// padding: 16px;
	
	div {
		justify-content: space-between; 
		display: flex;
		width: 80%;
	}
	div:nth-child(2) {
		display: flex;
		justify-content: space-between; 
		width: 75%;
		padding: 0px 16px 6px 24px;
		h3 {
			font-size: 14px;
			font-weight: 700;
			width: 60px;
		}
	}
	h1 {
		font-size: 18px;
		font-weight: 700;
		padding: 16px 16px 16px 16px; 
	}
	h2 {
		color: green;
		font-size: 18px;
		font-weight: 700;
		padding: 16px 16px 16px 16px; 
	}
}

.add-holding-btn {
	font-size: 14px;
	font-weight: 600;
	color: blue;
	margin: 20px 0px 20px 36px;
	&:hover { 
		transform: scale(1.1);
	}
}