.asset-search-comp {
	width: 425px;
	height: 250px;
	background-image: radial-gradient($fa-blue, $teal);
	
	form {
		width: 100%;
		height: 100%;
	}
}

.asset-search {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	h1 {
    font-size: 20px;
    font-weight: 400;
		color: white;
		padding: 16px 16px 16px 16px;
	}
	input {
    height: 30px;
    width: 100px;
		padding: 0px 8px 0px 8px;
		margin: 18px 0px 18px 0px;
		font-size: 14px;
	}
	.submit {
		width: 150px;
		height: 35px;
		font-size: 14px;
    font-weight: bold;
    background: rgb(15, 180, 143);
    color: white;
    &:hover { 
      background: $teal;
		}
	}
}

// fullForm to add holding (holding & asset info + asset allocation)
.add-holding-form-comp {
  width: 850px;
  height: 600px;
  background-image: radial-gradient($fa-blue, $teal);
  
  form {
    width: 100%;
    height: 100%;
  }
}

.add-holding-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

	h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 700;
		color: white;
		padding: 16px 16px 16px 16px;
	}
  p {
    width: 70%;
    display: flex;
		justify-content: left;
		align-items: center;
    font-size: 16px;
    font-weight: 700;
		color: white;
		padding: 10px 14px 10px 0px;
  }
  .submit {
		width: 256px;
		height: 50px;
		font-size: 16px;
    font-weight: bold;
    background: rgb(15, 180, 143);
    color: white;
    &:hover { 
      background: $teal;
    }
  }
}

.form-inputs {
	display: flex;
	justify-content: space-around;
	width: 80%;
	padding: 18px 0px 18px 0px;
	h2 {
		display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
		color: white;
		padding: 16px 16px 16px 16px;
	}
}

.asset-holding {
	display: flex;
	flex-direction: column;
	align-content: space-evenly;
	width: 48%;
	padding: 12px 12px 12px 12px;
	
	div {
		display: flex;
		padding: 10px 10px 10px 10px;
	}
	
	input {
    height: 30px;
    width: 150px;
		padding: 0px 8px 0px 8px;
		font-size: 14px;
	}
	
	select {
		width: 200px;
		height: 30px;
		font-size: 14px;
		border: 1px solid #a7a7a7;
		border-radius: 5px;
	}
}


.asset-allocation {
	display: flex;
	flex-direction: column;
	align-content: space-evenly;
	padding: 12px 12px 12px 12px;
	
	div {
		display: flex;
	}
	
	input {
		height: 30px;
    width: 50px;
    font-size: 14px;
    border: 0px;
    padding: 0px 8px 0px 8px;
    margin: 0px 16px 0px 16px;
  }
}

.add-holding-errors {
  color: orange;
  font-size: 14px;
  font-weight: 800;
}

.asset-search-dne {
	width: 425px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: radial-gradient($fa-blue, $teal);

		h1{
			display: flex;
			// justify-content: flex-start;
			font-size: 16px;
			font-weight: 500;
			color: white;
			padding: 16px 16px 16px 16px;
			margin-bottom: 12px;
		}
		button {
			width: 186px;
			height: 50px;
			font-size: 16px;
			font-weight: bold;
			background: rgb(15, 180, 143);
			color: white;
			&:hover { 
				background: $teal;
			}
		}
}