.algo-btn {
		cursor: pointer;
		font-family: $font-sans-serif;
		font-size: 36px;
		font-weight: 700;
		color: $white;
		background: $fa-blue;
		padding: 12px 16px;
		&:hover {
				transform: scale(1.1);
		}
}

.algo-orders{
	display: flex;
	// flex-direction: column;

	h1{
		font-size: 28px;
		font-weight: 900;
	}
	div{
		margin-left: 12px;
	}
	li{
		width: 300px;
		height: 20px;
		padding: 6px 0px 6px 6px;
		font-weight: 300;
	}
}