.dashboard {
	display: flex;
	padding-left: 75px;
}

.dash-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly; 
	// height: 85vh;
	width: 50vw;
	
	p {
		font-size: 30px;
		font-weight: 700;
	}
}