.footer {
	height: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: $font-sans-serif;
	padding: 10px 20px;
	margin-top: 54px;
	a {
		margin-right: 24px;
		margin-left: 24px;
	}
	a:hover {
		color: $fa-blue;
	}
	h3 {
		padding: 12px;
		font-size: 14px;
	}
}

.disclaimer {
	font-family: $font-sans-serif;
	font-size: 12px;
	padding: 10px 5px;
}