.footer {
	font-family: $font-sans-serif;
	height: 30px;
	width: 100%;
	padding: 10px 20px;
	background: $purple;
	display: flex;
	justify-content: center;
}

.disclaimer {
	font-family: $font-sans-serif;
	font-size: 12px;
	padding: 10px 5px;
}