.navbar {
    display: flex;
    font-family: $font-sans-serif;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;

    button {
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        color: $white;
        background: none;
        padding: 8px 12px;
        &:hover {
            transform: scale(1.2);
        }
    }
    .demo {
        background: $fa-blue;
        margin-left: 16px;
        padding: 12px 16px;
    }   
}


