.session-form-container {
  width: 500px;
  height: 450px;
  background-image: radial-gradient($fa-blue, $teal);
  // background-image: linear-gradient(to bottom, $teal, $fa-blue);
  
  form {
    width: 100%;
    height: 100%;
  }
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  p {
    width: 50%;
    display: flex;
    justify-content: left;
    font-size: 16px;
    font-weight: 700;
    color: $white;
    margin-top: 16px;
    margin-bottom: 6px;
  }
  input {
    height: 50px;
    width: 250px;
    font-size: 16px;
    border: 0px;
    padding: 0px 0px 0px 6px;
  }
  .submit {
    width: 256px;
    font-weight: bold;
    background: rgb(15, 180, 143);
    color: white;
    &:hover { 
      background: $teal;
    }
  }
}

.alternate-buttons {
  text-align: center;
  
  span {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 300;
  }
  button {
    font-size: 14px;
    font-weight: 600;
    background: $dark-blue;
    padding: 8px;
    border-radius: 4px;
    &:hover { 
      background: $fa-blue;
    }
  }
}

.form-errors {
  color: orange;
  font-size: 14px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
}