.flex {
    display: flex;
    flex-direction: column;
}
.hero-banner {
    background: url(https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    transform: rotate(180deg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.hero-image {
    padding: 20px;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 40px;
        font-weight: 700;
        color: white;
        margin-right: 600px;
        margin-bottom: 600px;
        &:hover {
            transform: scale(1.2);
        }
    }
    h1 {
        font-size: 24px;
        font-weight: 700;
        color: white;
        margin-top: 12px;
        &:hover {
            transform: scale(1.2);
        }
    }
}